body
{
	padding:		0;
	margin:			12px;
	font-family:	"Arial";
	font-size:		16pt;
	line-height:	150%;
	width:			50em;
	background-image: url("square_zag_tile.png");
}

h1, h2
{
	color:			#0066cc;
	font-style:		bold;
}

h1
{
	border-bottom:		1px solid #cccccc;
	padding-bottom:		5px;
	display:			list-item;
	list-style-type:	square;
	background-image: url("blank.png");
}

.Skills
{
	font-style: 	italic;

}
.SkillsList
{
	font-style:		bold;
	color:			blue;
}
}
.disclaimer
{
	font-size:		10px;
}
