body
{
	padding:		0;
	margin:			12px;
	font-family:	"Arial";
	font-size:		16pt;
	line-height:	150%;
	width:			50em;
}

h1, h2
{
	color:			#0066cc;
	font-style:		bold;
}

h1
{
	border-bottom:		1px solid #cccccc;
	padding-bottom:		5px;
	display:			list-item;
	list-style-type:	square;
}

id = "Skills"
{
	font-style: 	italic;

}
id = "SkillsList"
{
	font-style:		bold;
	color:			blue;
}